body {
	background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%);
	font-family: Arial;
}

/*фио, адреса и пр. с заглавной буквы*/
span {
	text-transform: capitalize
}

/*оформление блока одного пользовател¤*/
.user {
	background: linear-gradient(to bottom, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%);
	border-radius: 4px;
	max-width: 350px;
	min-height: 80px;
	margin-left: 50%;
	margin-bottom: 5px;
	transform: translate(-100%, 0);
	text-align: center;
	padding: 8px;
	
}

/*выравнивание элементов в блоке*/
.user  > div {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.photo {
	width: 75px;
}

.photo img {
	border-radius: 20px;
}

.photo img:hover {
	box-shadow: 0 0 13px white;
}

.name {
	min-width: 215px;
}

.name span:hover {
	text-shadow: 0 0 13px white;
}

.sortSelect{
	width: 60px;
}

/*подсветка выбранного пользовател¤*/
.selected {
	box-shadow: 0px 0 6px black;
}

/*¬сплывающее окно*/
#infoBox {
	background: linear-gradient(to bottom, #eeeeee 0%,#eeeeee 100%);
	transition:visibility 0s linear 0.5s,opacity 0.5s linear;
	position: fixed;
	z-index: 1;
	width: 40%;
	max-width: 500px;
	min-height: 150px;
	top:20px;
	left: 51%;
	padding: 1em;
	border-radius: 6px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/*дл¤ анимации по¤влени¤, скрыти¤*/
.invisible {
	visibility: hidden;
	opacity: 0;
}
.visible {
	transition-delay:0s !important;
	visibility: visible;
	opacity: 1;
}

#largePhoto {
	float: left;
	margin: 5px;
	border-radius: 10px;
}

/*кнопка закрыти¤ всплывающего окна*/
.close {
	border-radius: 4px;
	cursor: pointer;
	float: right;
	padding: 2px 6px;
	background: linear-gradient(to bottom, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%);
}